.header {
    padding: 2rem 0;
    text-align: center;
    background-image: url("/static/images/header-bg2.jpg");
}

.section{
    padding: 4rem 0 3rem 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}
 
.card {
    background: rgb(217, 217, 217);
    padding: 1rem;
    border-radius: 10px;
}

.card:not(:last-child) {
    margin-bottom: 2rem;
}

.card > div:first-child {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(173, 173, 173);
}

.card > div:nth-child(2) {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid rgb(173, 173, 173);
}

.h4{
    margin: 0;
}

.cardBody {
    display: flex;
}

.imgContainer {
    width: 200px;
    height: 200px;
}

.imgContainer>img {
    width: 100%;
}

.textArea{
    padding-left: 2rem;
    width: calc(100% - 200px);
}

.textAreaTitle{
    display: inline-block;
    font-weight: bold;
    width: 130px;
}

.textArea>div:not(:last-child) {
    margin-bottom: 1rem;
}

.instructionsWrapper a {
    color: rgb(207, 63, 23);
}

.cardBody p, .cardBody h6{
    margin: 0;
}

.removeFavouritesBtn>button{
    background: white;
    color: rgb(207, 63, 23);
    border-radius: 5px;
    border: 2px solid rgb(207, 63, 23);
}

.removeFavouritesBtn>button:hover{
    opacity: 0.8;
}
